In [5]:
# Imports
from sqlalchemy import create_engine
import pandas as pd
import matplotlib as plt
import seaborn as sns
import nltk
import re

In [80]:
# Set up DB connection
connection = create_engine('postgresql+psycopg2://postgres:CK2kFnQvBUmMm4fJ84zG@database-1.cssxbzueyuxe.us-east-1.rds.amazonaws.com:5432/postgres')

In [23]:
# Feature: Count occurances of "important keywords" in each tweet
def count_keywords(tweet, keyword_patterns):
    return sum(len(re.findall(pattern, tweet.lower())) for pattern in keyword_patterns)

In [48]:
query = "SELECT * FROM outbreak_tweets"

# Read zika related tweets (includes tweets containing other keywords too) into a dataframe
zika_tweets = pd.read_sql(query, con=connection)

In [49]:
zika_tweets.head()

,id,date,tweet,userid,state,week_number
0,667148963670319104,2015-11-19 01:14:42,These random mosquito bites on my face I keep ...,158877098,New York,47
1,666853295768498176,2015-11-18 05:39:49,So many mosquito bites ðŸ˜²,1000586018,California,47
2,670305363418214400,2015-11-27 18:17:06,UGH ITS RIGHT THERE I accidentally came across...,635053400,Illinois,48
3,670729651128545280,2015-11-28 22:23:05,Got bitten by a mosquito while hanging Christm...,7213722,District of Columbia,48
4,671011029241999362,2015-11-29 17:01:10,Okay--I was chill with this warm ass November ...,32314424,New York,48

In [60]:
# add zika_count, mosquito_count, zikv_count, aedes_count, guillain_barr_count, flavivirus_count

zika_pattern = [r'(zika)']
zikv_pattern = [r'(zikv)']
mosquito_pattern = [r'(mosquito)']
aedes_pattern = [r'(aedes)']
gullian_barr_pattern = [r'(gullian).*(barr)']
flavivirus_pattern = [r'(flavivirus)']

keyword_counts = pd.DataFrame(zika_tweets[['id']])

keyword_counts['zika_count'] = [count_keywords(tweet, zika_pattern) for tweet in zika_tweets['tweet']]
keyword_counts['mosquito_count'] = [count_keywords(tweet, mosquito_pattern) for tweet in zika_tweets['tweet']]
keyword_counts['zikv_count'] = [count_keywords(tweet, zikv_pattern) for tweet in zika_tweets['tweet']]
keyword_counts['aedes_count'] = [count_keywords(tweet, aedes_pattern) for tweet in zika_tweets['tweet']]
keyword_counts['gullain_barr_count'] = [count_keywords(tweet, gullian_barr_pattern) for tweet in zika_tweets['tweet']]
keyword_counts['flavivirus_count'] = [count_keywords(tweet, flavivirus_pattern) for tweet in zika_tweets['tweet']]

keyword_counts

,id,zika_count,mosquito_count,zikv_count,aedes_count,gullain_barr_count,flavivirus_count
0,667148963670319104,0,1,0,0,0,0
1,666853295768498176,0,1,0,0,0,0
2,670305363418214400,0,1,0,0,0,0
3,670729651128545280,0,1,0,0,0,0
4,671011029241999362,0,1,0,0,0,0
...,...,...,...,...,...,...,...
82722,945529401353019393,1,1,0,0,0,0
82723,946412096413143040,0,1,0,0,0,0
82724,945776650586902534,1,0,0,0,0,0
82725,945853629260447744,1,0,0,0,0,0
82726,946600215137550336,0,1,0,0,0,0

In [77]:
# Create a temporary table to store the keyword counts
keyword_counts.to_sql(name='temp_keyword_count', con=connection, if_exists='replace', index = False, method='multi')

In [79]:
# Join the keyword table with the zika tweets table
connection.execute("DROP TABLE IF EXISTS outbreak_tweets_extended; CREATE TABLE outbreak_tweets_extended AS (SELECT outbreak_tweets.*, zika_count,mosquito_count,zikv_count,aedes_count,gullain_barr_count,flavivirus_count  FROM outbreak_tweets JOIN temp_keyword_count ON temp_keyword_count.id = outbreak_tweets.id);")

# Add primary key
connection.execute("ALTER TABLE outbreak_tweets_extended ADD PRIMARY KEY (id)")

# Add foreign key to user table
connection.execute("ALTER TABLE outbreak_tweets_extended ADD FOREIGN KEY (userid) REFERENCES twitter_users(id)")

# Drop the temporary table
connection.execute("DROP TABLE IF EXISTS temp_keyword_count")